@import '../styles/variables.scss';

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $bg-primary;
}

.main {
  flex: 1;
  margin-left: $sidebar-width;
  margin-top: $header-height;
  margin-bottom: $footer-height;
  padding: $spacing-xl;
  min-height: calc(100vh - #{$header-height} - #{$footer-height});
  transition: margin-left $transition-base;

  @media (max-width: $breakpoint-lg) {
    margin-left: 0;
  }
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}
